html {
    font-family: "Open Sans", sans-serif;
    font-size: 13pt;
    background-color: darkgray;
}
h1 {
    font-weight: 600;
    font-size: 1.3rem;
}
h2 {
    font-size: 1.1rem;
    font-weight: 300;
}
#round {
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    width: 60%;
    word-wrap: break-word;
}
.pure-u-1-5{

}

.wrapped {
    word-wrap: break-word;
}
.timestamp{
    text-align: right;
}

.error {
    color: red;
}

.pure-button-primary {
    background-color: purple;
}

.spacing{
    width: 60%;
    padding: 25px;
    border: 15px solid navy;
    margin: 25px;
    word-wrap: break-word;

}

.comment{

    width: 60%;
    padding: 25px;
    border: 15px solid navy;
    margin: 25px;
    word-wrap: break-word;
    margin-left: 4cm;
}

.sidebar {
    box-sizing: border-box;
    padding-left: 1ex;
}
.sidebar h1 {
    text-align: center;
}

.form {
    width: 100%;
    float: left;
    padding-left: 1ex;
}

@media screen and (min-width: 48em) {
    .sidebar h1 {
        text-align: left;
    }
}

.logout {
    background-color: red;
    color: white;
}

.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button.login {
    background-color: green;
    color: white;
}

.thumbs-up {
    font-family: FontAwesome;
    display: inline-block;
    cursor: pointer;}

.thumbs-up[data-state="unchecked"]::after {
    content: "\f087"
}

.thumbs-up[data-state="checked"]::after {
    content: "\f164"
}

.thumbs-down {
    font-family: FontAwesome;
    display: inline-block;
    cursor: pointer;
}

.thumbs-down[data-state="unchecked"]::after {
    content: "\f088"
}

.thumbs-down[data-state="checked"]::after {
    content: "\f165"
}
