{% extends 'base.html' %}

{% block title %}
    index
{% endblock %}

{% block splitLeft %}
    <div id="login" class="show">
    <form action="/login" method="post">
        <input type="text" placeholder="username" name="uName"><br>
        <input type="password" placeholder="password" name="pWord"><br>
        <input type="submit" value="login">
    </form>

    <br>
        <input type="button" id="newUser" value="new user">
    </div>

    <div id="createUser" class="no-show" >
    <form action="/newUser" method="post">
        <input type="text" placeholder="username" name="uName"><br>
        <input type="password" placeholder="password" name="pWord1"><br>
        <input type="password" placeholder="retype password" name="pWord2"><br>
        <input type="submit" value="create">
    </form>
    </div>
    <script src="../static/login_createNew.js" async></script>
{% endblock %}

{% block splitRight %}
    <div>
    <form action="/">
        <input type="submit" value="logout">
        this will need to be REMOVED after testing for security<br>
    </form>

    <div class="movieSearch">
        <input type="text" placeholder="movie title" name="mTitle">
        <input type="submit" value="search"><br>
    </div>
    </div>
    <script src="../static/getMovie.js" async></script>
{% endblock %}