{% extends 'base.html' %}
{% block title %}
    Login
{% endblock %}
{% block content %}
    <h1>Login</h1>


    {% if state == 'bad' %}{# detect if we need to show the error message #}
        <p class="error">Invalid user name or password.</p>
    {% endif %}

    <form action="/login" method="POST" class="pure-form pure-form-stacked">
        <input type="hidden" name="url" value="{{ request.args.url }}">
        <label>User: <input type="text" name="login"></label>
        <label>Password: <input type="password" name="password"></label>
        <button type="submit" class="pure-button login">Login</button>
    </form>


    <a class="pure-button login" href="/newUser">Create User</a>



{% endblock %}
