{% extends 'base.html' %}
{% block title %}
    Create New Account
{% endblock %}
{% block content %}
    <h1>Create New Account</h1>
     {% if state == 'matchpw'  %}
        <h2 class="error">Passwords do not match!</h2>
     {% endif %}
    {% if state == 'usernametoolong'  %}
        <h2 class="error">Username too long ( < 20)</h2>
    {% endif %}
    {% if state == 'usernameistaken'  %}
        <h2 class="error">Username is taken!</h2>
     {% endif %}



    <form action="/newUser" method="POST" class="pure-form pure-form-stacked">
        <input type="hidden" name="url" value="{{ request.args.url }}">
        <label for="user">User:</label>
            <input type="text" name="user" id="user">
        <label for="password1">Password: </label>
            <input type="password" name="password1" id="password1">
        <label for="password2">Confirm Password: </label>
            <input type="password" name="password2" id="password2">
        <button type="submit" class="pure-button login">Login</button>
    </form>
{% endblock %}
